<div id="post_content">
  <div id="post_body">
    <h1 class="title"><%= @post.title %></h1>
    <p class="date_and_author">
      <span ><%= @post.created_at.strftime("%B %d, %Y") %></span>
      <% if current_user %>
        <span id="edit"><%= link_to('Edit', edit_post_path(@post))%></span>
        <span id="delete"><%= link_to('Delete', post_path(@post), method: :delete, data: {confirm: 'Are you sure?'})%></span>
      <% end %>
    </p>
    <p class="body"><%= @post.body %></p>
  </div>

  <div id="comments">
      <%= render 'comments/form' %>

    <h3 class="comments_title"><%= pluralize(@post.comments.count, "comment")%></h3>
    <%= render @post.comments %>
  </div>
</div>
